<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Product</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul class="links">
          <li><a href="/" />Shop</li>
          <li><a href="/admin/add-product" />Add Product</li>
        </ul>
      </nav>
    </header>

    <main>
      <h1>My Products.</h1>
      <p>List of all the products ...</p>

      <div class="cards_container">
        <article class="card">
          <img src="https://media.istockphoto.com/id/1186947949/photo/book.webp?s=2048x2048&w=is&k=20&c=g_MKyexFhYqniYXFJEuoL2YsdUILMUDJGKQElNk4634=" alt="Book">
          <div class="card_content">
              <header>Book</header>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia quos impedit temporibus ipsum. Nobis ipsa officiis fugiat. Sunt alias voluptatibus quidem maxime ullam, iure, in facere tempore nam distinctio unde?</p>
              <button type="button">Read</button>
          </div>
        </article>
      </div>
    </main>
  </body>
  <script src="/js/nav.js"></script>
</html>
