main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    padding: 2px 5px;
    border: 1px solid blue;
    border-radius: 2px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.795);
}
div{
    text-align: center;
}